.item {
    margin: 0 18px;
    font-size: 1.3rem;
    font-weight: 500;
    opacity: 0.5;
    white-space: nowrap;
    cursor: pointer;
    border-top: 5px solid;
    border-bottom: 3px solid;
    border-color: transparent;

    &:first-child{
        margin-left: 0;
    }

    &:not(.active):active{
        transform: scale(0.99);
    }

    &:not(.active):hover{
        opacity: 0.9;
        border-bottom-color: var(--white-4);
    }

    img{
        width: 25px;
    }
}

.item.active{
    opacity: 0.9;
    border-bottom-color: var(--black-1);
}