#header,
#category {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 0 80px;
    z-index: 10;
    background: var(--white-1);
}

.header__logo img {
    width: 35px;
}

.header__logo p {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--light-red);
    font-family: 'Concert One', cursive;
}

.header__nav {
    width: fit-content;
    margin: auto;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 12px 0;
    border-radius: 40px;
    cursor: pointer;
}

.header__nav:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.header__nav .nav__item {
    font-size: 1.45rem;
    padding: 0 16px;
    font-weight: 500;
    color: var(--black-1);
}

.header__nav .nav__item:nth-child(2) {
    border-left: 1.7px solid var(--white-4);
    border-right: 1.7px solid var(--white-4);
}

.header__nav .nav__item:last-child {
    padding-right: 60px;
}

.header__nav .nav__item button {
    position: absolute;
    background: var(--light-red);
    width: fit-content;
    border-radius: 50%;
    color: var(--white-1);
    height: 35px;
    width: 35px;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.header__function .function__item {
    padding: 8px 12px;
    font-size: 1.45rem;
    font-weight: 500;
    border-radius: 30px;
}

.header__function .function__item:hover {
    background: var(--white-3);
    cursor: pointer;
}

.header__function .function__item:last-child:hover {
    background: transparent;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.header__function .function__item:last-child {
    border: 1px solid var(--white-4);
    padding: 0;
    margin-left: 4px;
}

.header__function .user__account {
    width: 70px;
    padding: 8px 0;
}

.header__function .user__account i {
    padding: 4px 12px;
    font-size: 1.6rem;
    color: var(--gray);
}

.header__function .user__account i:last-child {
    font-size: 2.7rem;
    position: absolute;
    right: -7px;
    top: 50%;
    transform: translateY(-50%);
}

#category {
    top: 80px;
}

.category__body {
    overflow-y: auto;
    flex-basis: 89%;    
    margin: 0 -18px;
}

.category__body::-webkit-scrollbar {
    display: none;
}

#category .category__item {
    margin: 0 18px;
    font-size: 1.3rem;
    font-weight: 500;
    opacity: 0.5;
    white-space: nowrap;
    cursor: pointer;
    border-top: 5px solid;
    border-bottom: 3px solid;
    border-color: transparent;
}

#category .category__item.active {
    opacity: 1;
    border-bottom-color: var(--black-2);
}

#category .category__item:not(.active):hover {
    opacity: 0.9;
    border-bottom-color: var(--black-1);
}

#category .category__item img {
    width: 25px;
}

.category__control .category__next:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.1s linear;
}

.category__filter{
    border: 1.6px solid var(--white-4);
    padding: 12px 16px;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
}

#content{
    padding-top: 180px;
}

.location__list{
    margin: 0 -12px;
}

.location__item{
    padding: 12px;
    cursor: pointer;
}

.location__item .carousel{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.location__item .card{
    border: none;
}

.location__item img{
    height: 270px;
}

.location__item button{
    height: 5px !important;
    width: 5px !important;
    border-radius: 50%;
}

.location__item button.active{
    transform: scale(1.2);
}

.location__item .carousel-control-next,
.location__item .carousel-control-prev{
    opacity: 1;
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 16px;
}

.location__item .arrow-btn{
    background: var(--white-2);
    border: none;
    display: none;
    transition: all 0.1s linear;
    font-size: 1.3rem;
}

.location__item:hover .arrow-btn{
    display: block;
}

.location__item .arrow-btn:hover{
    transform: scale(1.1);
}

.location__info{
    font-size: 1.6rem;
}

.location__info .title{
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 99%;
}

.location__info .sub-title{
    color: var(--gray);
}

.location__info .price{
    font-weight: 500;
}

.location__info .price span{
    font-weight: normal;
}

.location__rate svg{
    font-size: 1.1rem;
    margin-right: 4px;
}

.location__rate p{
    font-size: 1.6rem;
    font-weight: 400;
}