#header {
    height: 80px;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0 80px;
    z-index: 10;
    background: var(--white-1);
    transition: all 0.4s linear;

    .nav {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, 15px);

        .active {
            transform: translateY(-105px);
            opacity: 0;
        }
    
        .default {
            display: block;
        }
    }
}

#header.active {
    height: 160px;
    z-index: 22;
    box-shadow: none;

    .headerNav {
        box-shadow: none;
        border: none;
    }

    .headerNav .navItem:last-child {
        padding: 0 24px 0 16px;
    }

    .nav {

        .default {
            display: none;
        }
    
        .active {
            transform: translateY(0);
            opacity: 1;
            transition: all 0.5s linear;
        }
    }
}