.container {
    height: 80px;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0 80px;
    z-index: 11;
    background: var(--white-1);
    transition: all 0.3s ease-in;

    &.active {
        height: 160px;
        z-index: 22;
        box-shadow: none;

        .headerNav {
            box-shadow: none;
            border: none;
        }

        .headerNav .navItem:last-child {
            padding: 0 24px 0 16px;
        }

        .nav {

            .default {
                transform: translate(-50%, -105px) scale(0);
                opacity: 0;
            }

            .active {
                transform: translate(-50%, 0) scale(1);
                opacity: 1;
            }
        }
    }

    .nav {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, 15px);

        .active {
            position: absolute;
            left: 50%;
            width: 400px;
            transform: translate(-50%, -105px) scale(0);
            opacity: 0;
            transition: all 0.3s ease-in;
        }

        .default {
            position: absolute;
            left: 50%;
            width: 405px;
            transform: translate(-50%, 0) scale(1);
            opacity: 1;
            transition: all 0.45s ease-in-out;
        }
    }

    .layout{
        position: absolute;
        top: 160px;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.3);
        z-index: 111;
    }
}